div.header-image-container {
  background: url("../images/timeglas/timeglas-768w-350h.jpg") no-repeat center;
  width: auto;
  height: 350px;
  overflow: visible;
  margin: 4rem 0 0;
}

p.score {
  font-size:1.1rem;
  /* font-weight: bold; */
  letter-spacing: 0.1rem;
}

div.final-score {
  margin: 2rem 0 0;
}

div.final-score {
  display: grid;
  grid-template-columns: 3.75 1fr;
  grid-template-rows: 4.375rem;
  color: white;
}

div.final-score:first-child,
div.final-score:last-child {
  display: flex;
  align-content: center;
}

div.final-score :first-child {
  display: flex;
  background-color: #007cbb;
}

div.final-score :last-child {
  background-color: #1499db;
  padding: 1rem;
}

div.final-score :first-child p {
  background-color: #007cbb;
  padding: 0.5rem;
  font-size: 2rem;
  align-self: center;
}
div.final-score :last-child p {
  background-color: #1499db;
  padding: 0;
  font-size: 1rem;
  align-self: center;
}

@media only screen and (min-width: 769px) {
  div.header-image-container {
    background: url("../images/timeglas/timeglas-1366w-350h.jpg") no-repeat center;
  }
}

@media only screen and (min-width: 1367px) {
  div.header-image-container {
    background: url("../images/timeglas/timeglas-1920w-350h.jpg") no-repeat center;
  }
}
