* {
  box-sizing: border-box;
}

.article {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background: url(https://unsplash.it/1000/400) no-repeat top; */
}

.quote__paragraph {
  font-family: 'Zilla Slab Highlight', cursive;
  color: black;
  font-size: 2rem;
}

.quote__author {
  font-family: 'Zilla Slab', serif;
  color: black;
  font-size: 1.5rem;
}

