div.header-image-container {
  background: url("../images/computer/computer-768w-350h.jpg") no-repeat center;
  width: auto;
  height: 350px;
  overflow: visible;
  margin: 4rem 0 0;
}

.article-body-text li {
  line-height: 1.25rem;
}

div.desktop-workflowdiagram-container {
  display: none;
}

mark {
  border-radius: 5px;
  padding: 0.1rem 0.2rem;
}

mark.blue {
  background-color: #6acaff;
}

mark.purple {
  background-color: #978aff;

}

mark.salmon {
  background-color: #ff7f9c;
}

mark.beige {
  background-color: #c2b59b;
}

mark.orange {
  background-color: #ff9855;
}

mark.teal {
  background-color: #00b6df;
}

mark.red {
  background-color: #ff0a53;
}

mark.green {
  background-color: #00c95a;
}

span.green {
  color: #00c95a;
}

span.red {
  color: #ff0a53;
}

span.orange {
  color: orange;
}


@media only screen and (min-width: 769px) {
  div.header-image-container {
    background: url("../images/computer/computer-1366w-350h.jpg") no-repeat center;
  }
}

@media only screen and (min-width: 1367px) {
  div.header-image-container {
    background: url("../images/computer/computer-1920w-350h.jpg") no-repeat center;
  }

  div.mobile-workflowdiagram-container {
    display: none;
  }

  div.desktop-workflowdiagram-container {
    display: unset;
    overflow-x: visible;
  }

  #workflow-caption {
    padding: 2rem 0 0 0;
  }
}

