div.header-image-container {
background: url('../images/doer/doer-768w-350h.jpg') no-repeat center;
width: auto;
height: 350px;
overflow: visible;
margin: 4rem 0 0;
}

@media only screen and (min-width: 769px) {
    div.header-image-container {
        background: url('../images/doer/doer-1366w-350h.jpg') no-repeat center;
    }
}

@media only screen and (min-width: 1367px) {
    div.header-image-container {
        background: url('../images/doer/doer-1920w-350h.jpg') no-repeat center;
    }
}