/* 
-------------------------------------------
HEADER
-------------------------------------------
*/

.hero-image-container {
  background: url("../images/forhandlere/hero/forhandlere-hero-50q-375w.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 300px;
}

.hero-image-container span {
  position: absolute;
  top: 350px;
  left: 50%;
  width: 30px;
  height: 30px;
  margin-left: -12px;
  border-left: 3px solid var(--gold);
  border-bottom: 3px solid var(--gold);
  transform: rotate(-45deg);
  box-sizing: border-box;
}

/* 
-------------------------------------------
MAIN
-------------------------------------------
*/

#main-content {
  background-color: var(--dark-blue);
}

/* intro */

div#overview-of-dealers-intro-wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 6.25rem;
}

div#overview-of-dealers-intro-wrapper p {
  font-size: 1.125rem;
  line-height: 40px;
  font-weight: 400;
}

div#overview-of-dealers-intro-wrapper p:last-of-type {
  font-family: "Vollkorn SC", serif;
  text-transform: lowercase;
  font-size: 22px;
  font-weight: bold;
}

div#intro-text {
  margin: 100px auto 0;
  justify-content: center;
}

div#intro-text p {
  font-size: 18px;
  line-height: 30px;
  padding-bottom: 15px;
  letter-spacing: 2px;
}

/* mobile coat of arms/våbenskjolds container */

div.coat-of-arms-master-wrapper {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

div.coat-of-arms-wrapper, div#intro-text {
  width: 300px;
  max-width: 420px;
  padding: 0;
}

div#mobile-list-of-dealers-coat-of-arms-container
  .bottom-rectangle-horizontal
  div.wrapper {
  display: flex;
  margin: 0;
}

div.bottom-rectangle-horizontal {
  border-radius: 0;
  border-bottom: 0;
}

div.cities-coat-of-arms-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.cities-coat-of-arms-container hr {
  width: 100%;
}

div.coat-of-arms-master-wrapper h2 {
  color: var(--dark-blue);
  font-weight: bold;
}

div.cities-coat-of-arms-container {
  padding: 0 25px 0;
}

div.two-column-container {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

p.city-name {
  color: var(--gold);
  text-transform: uppercase;
}

p.city-name,
p.area-code {
  font-weight: bold;
}

p.dealer {
  padding-top: 25px;
}

div.bottom-rectangle-horizontal {
  display: block;
  text-align: left;
  border-top: 0;
}

div.bottom-rectangle-horizontal p {
  line-height: 1.7rem;
  letter-spacing: 0.075rem;
}

div.empty-bottom-spacer {
  padding-top: 50px;
}

div.topless-bottom-rectangle-horizontal {
  height: 50px;
}

/* desktop containters */

div#desktop-list-of-dealers-coat-of-arms-container-1, div#desktop-list-of-dealers-coat-of-arms-container-2, div#desktop-list-of-dealers-coat-of-arms-container-3 {
  display: none;
  width: 26.25rem;
}

div#map {
  margin: 100px auto;
  width: 300px;
}

object#desktop-map {
  display: none;
}

div#nordjylland-desktop-bottom-spacer {
padding: 125px;
}

div#storkoebenhavn-desktop-bottom-spacer {
  padding: 60px;
}

@media only screen and (min-width: 377px) {
  div#mobile-list-of-dealers-coat-of-arms-container, div#intro-text {
    min-width: 21.5625rem;
  }
}

@media only screen and (min-width: 500px) {
  .hero-image-container {
    background: url("../images/forhandlere/hero/forhandlere-hero-75q-1920w.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
  }

  div#mobile-list-of-dealers-coat-of-arms-container {
    width: 26.25rem;
  }

  div#intro-text {
    margin: 140px 0;
    max-width: unset;
    width: unset;
  }

  div#intro-text p {
    text-align: center;
    width: initial;
    font-size: 20px;
  }
}

@media only screen and (min-width: 780px) {
  div#map {
    margin: 150px auto;
    width: 600px;
  }
}


@media only screen and (min-width: 1920px) {
  div#mobile-list-of-dealers-coat-of-arms-container {
   display:none;
  }

  div#desktop-list-of-dealers-coat-of-arms-container-1, div#desktop-list-of-dealers-coat-of-arms-container-2,   div#desktop-list-of-dealers-coat-of-arms-container-3 {
    display:unset;
   }

   div#desktop-list-of-dealers-coat-of-arms-master-wrapper {
    display: flex;
    justify-content: center;
    gap: 250px;

   }
   
  div#intro-text {
    margin: 140px 0;
    max-width: unset;
    width: unset;
  }

  div#intro-text p {
    text-align: center;
    width: initial;
  }

  object#mobile-map {
    display: none;
  }

  object#desktop-map {
    display: unset;
  }

  div#map {
    transform: translateY(-500px);
    margin: 200px auto -150px;
    width: 1275px;
  }
}
