@import url('https://fonts.googleapis.com/css2?family=Pirata+One&family=Raleway:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Vollkorn+SC:wght@400;600;700&display=swap');
/* 
-------------------------------------------
GLOBAL
-------------------------------------------
*/

/* css variabler */

:root {
  --light-red: #712c1d;
  --dark-red: #4e1a0e;
  --gold: #c19945;
  --off-white: #ece6d8;
  --dark-blue: #315070;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
}

body,
p {
  font-family: "Raleway", sans-serif;
  line-height: 1.5rem;
  color: var(--off-white);
}

/* Jeg bruger vollkorn sc som er en kapitalær font. Fonten ser best ud med lowercase, så 
jeg bruger text-transform: lowercase, så jeg stadig kan have store begyndelsesbogstaver
i min HTML outline, men lowcase i DOM'en  */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: lowercase;
  letter-spacing: 2px;
  font-family: "Vollkorn SC", serif;
  color: var(--off-white);
}

h1 {
  font-size: 1.5625rem;
  line-height: 2.5rem;
}

a {
  font-family: "Vollkorn SC", serif;
  color: var(--gold);
  text-decoration: none;
}

a:hover {
  color: var(--off-white);
}

hr {
  margin: 0;
  border: 0;
  height: 1px;
  background: var(--gold);
}

span.striked-through {
  text-decoration: line-through;
}

span.gold {
  color: var(--gold);
}

span.bold {
  font-weight: bold;
}

span.bold {
  font-weight: 600;
}


/* 
-------------------------------------------
HEADER 
-------------------------------------------
*/

#main-header {
  background-color: var(--light-red);
}

#top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav li {
  padding: 0 1.875rem 0 1.875rem;
}

/* logo */

.logo-container {
  padding: 0.5rem 0 0 0.5rem;
}

/* burger menu */

.burger-container {
  padding-right: 0.5rem;
}

/* presentation paragraph container*/

div.presentation-paragraph-container {
  text-align: center;
  padding: 1.875rem 0 1.875rem;
  background-color: var(--dark-red);
}

div.presentation-paragraph-container p {
  color: var(--gold);
}

div.presentation-paragraph-container p:nth-child(1) {
  font-family: "Pirata One", cursive;
  font-size: 2.375rem;
  padding-bottom: 1rem;
  line-height: 2.8125rem;
  letter-spacing: 3.6px;
}

div.presentation-paragraph-container p:nth-child(2) {
  font-family: "Vollkorn SC", serif;
  font-size: 1.375rem;
  color: var(--off-white);
  letter-spacing: 2.6px;
}

/* 
-------------------------------------------
DESKTOP NAVIGATION
-------------------------------------------
*/

.desktop-nav-container {
  display: none;
}

.desktop-nav-container ul {
  display: inline;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.desktop-nav-container ul li {
  display: inline;
}

/* dropdown */

#dropdown-anchor {
  padding: 2rem 1.25rem;
}

div.desktop-nav-container ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

div.desktop-nav-container li {
  color: var(--off-white);
  display: block;
  float: left;
  position: relative;
  text-decoration: none;
  transition-duration: 1s;
}

ul li ul {
  background: #641f10;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 50px;
  left: -6px;
  display: none;
  text-align: right;
  margin-top: 1.4rem;
}

ul.dropdown li {
  padding: 1rem;
}

ul.dropdown li a {
  color: var(--gold);
}

ul.dropdown li a:hover {
  color: var(--off-white);
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
  clear: both;
  width: 100%;
}

li#last-anchor {
  padding-right: 1.25rem;
}

/*
-------------------------------------------
MAIN
-------------------------------------------
*/

/* Jeg bruger flex til at lade main vokse, så jeg får en sticky footer som ikke er afhængig 
af at skulle have en fixed height (pt. er det ligegyldigt, da jeg har en virkelig basic 
footer uden meget lir fordi min persona ikke ønskede unødvendige detaljer) */

#main-content {
  flex: 1 0 auto;
}

/* våbenskjoldscontainer */

div.coat-of-arms-wrapper {
  padding: 0 1rem 0;
  margin: 1rem;
  max-width: 23.5625rem;
}

/* top */

/* guldfarvet top- og midt-container med tekst */
div.top-rectangle-horizontal,
div.middle-rectangle-horizontal {
  display: flex;
  justify-content: center;
  background-color: var(--gold);
  height: 2.8125rem;
}

div.top-rectangle-horizontal h2,
div.middle-rectangle-horizontal p {
  font-family: "Vollkorn SC", serif;
  font-size: 1.375rem;
  align-self: center;
}

div.empty-rectangle-horizontal,
div.empty-rectangle-vertical,
div.bottom-rectangle-horizontal {
  border: 1px solid var(--gold);
}

div.empty-rectangle-horizontal {
  height: 1.1875rem;
}

/* middle */

div.middle-coat-of-arms-container {
  display: flex;
}

div.middle-rectangle-horizontal {
  height: 3.8125rem;
}

div.middle-rectangle-horizontal p {
  font-weight: 600;
  text-transform: lowercase;
  font-size: 1.125rem;
}

div.empty-rectangle-vertical {
  border-top: 0;
  border-bottom: 0;
  width: 3.8125rem;
}

/* lader min wrapper vokse, den er dog begrænset af max-width'en på coa-wrapperen så billedproportionerne beholdes i image containeren 
bruger media queries i stedet til at håndtere når containeren skal vokse, så har jeg bedre styr på billedproportionerne */

div.middle-coat-of-arms-container .wrapper {
  flex-grow: 1;
}

/* 

/* bottom */

div.bottom-rectangle-horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 0 0 3.5625rem 3.5625rem;
}

div.bottom-rectangle-horizontal p {
  line-height: 1.7rem;
  letter-spacing: 0.075rem;
}

div.topless-bottom-rectangle-horizontal {
  border-right: 1px solid var(--gold);
  border-left: 1px solid var(--gold);
  border-bottom: 1px solid var(--gold);
  border-radius: 0 0 57px 57px;
}

/*
-------------------------------------------
MOBIL NAVIGATION
-------------------------------------------
*/

#bottom-nav {
  display: flex;
  justify-content: center;
  background-color: var(--light-red);
}

#bottom-nav {
  font-size: 1.25rem;
}

#bottom-nav ul li {
  text-align: center;
  background-color: var(--dark-red);
}

#bottom-nav ul li:nth-child(2),
#bottom-nav ul li:nth-child(3) {
  background-color: var(--light-red);
}

#bottom-nav ul {
  padding: 1rem 0 3rem;
  width: 80vw;
  max-width: 22rem;
}

#bottom-nav ul li {
  display: block;
  padding: 0.6rem;
  margin: 2rem 0 0 0;
}

/* økologisk jul og julestout får lidt mindre margin mellem sig som underliggende links */

#bottom-nav ul li:nth-child(2),
#bottom-nav ul li:nth-child(3),
#bottom-nav ul li:nth-child(4) {
  margin: 0.6rem 0 0 0;
}

/* hr dividers kan ikke valideres, hvis de er placeret i en list, men med dette lille css hack er de fuldt ud valide. 
alternativt kunne jeg have brugt text-decoration: overline */

nav#bottom-nav div.mobile-nav-container ul li:nth-child(2):after,
nav#bottom-nav div.mobile-nav-container ul li:nth-child(3):after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  margin: 0.6rem 0 0.2rem 0;
  background: var(--gold);
}

/* 
-------------------------------------------
FOOTER
-------------------------------------------
*/

#main-footer {
  background-color: var(--light-red);
}

/* bruger 'flex' i min footer-wrapper, centrer den med 'margin: 0 auto', bruger 'space-between' flex items bliver smidt ud til hver sin side 
dog begrænset af 'max-width', så har samme bredde som f.eks. mobilnav'en og centrerer dem vertikalt  */
#footer-wrapper {
  margin: 0 auto;
  display: flex;
  max-width: 24rem;
  justify-self: center;
  justify-content: space-between;
  align-items: center;
  height: 9.375rem;
}

#footer-wrapper div.footer-item:nth-child(1) {
  padding: 0 0 0 2rem;
}

#footer-wrapper div.footer-item:nth-child(2) {
  padding: 0 2rem 0 0; 
}

#main-footer div.footer-item img {
  width: 50px;
}

/* 
-------------------------------------------
MEDIA QUIERIES
-------------------------------------------
*/

@media only screen and (min-width: 1366px) {
  .nav ul {
    display: block;
  }
  .burger-container,
  #bottom-nav {
    display: none;
  }
  .desktop-nav-container {
    display: unset;
  }

  #footer-wrapper {
    max-width: 35rem;
  }

  h1 {
    font-size: 1.75rem;
  }

  div#oekologisk-jul-coat-of-arms-container:hover, div#jule-stout-coat-of-arms-container:hover {
    transform: scale(1.1);
  }

  #main-footer div.footer-item img:hover {
    transform: scale(1.2);
  }
  
  div#oekologisk-jul-coat-of-arms-container, div#jule-stout-coat-of-arms-container, #main-footer div.footer-item img {
    transition:all 0.3s ease;
  }
}
