/* GENERAL */

* {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
}

h1,
h3 {
    margin: 0 auto;
    width: 16rem;
    text-align: center;
    font-weight: bold;
    padding-bottom: 0.2rem;
    letter-spacing: 0.1rem;
}

h1 {
    font-size: 1.5rem;
}

h3 {
    text-align: left;
}

body {
    margin: 0 auto;
    background-color: #008f89;
    color: white;
}

header {
    margin: 1rem 1rem 1rem 1rem;
}

.header {
    display: flex;
    padding: 0;
    justify-content: space-evenly;
}

.header_child {
    display: flex;
    width: 33%;
    align-items: center;
    justify-content: center;
}

main {
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

/* Back arrow button */

#arrow {
    width: 45px;
}

#avatar {
    margin: 0 auto;
    padding: 1rem;
    width: 14rem;
}

#wardrobe {
    width: 16rem;
}


input {
    background: transparent;
    background-repeat: no-repeat;
    background-size: 100%;
    border: 0;
    width: 14rem;
    height: 3rem;
    font-size: 1.3rem;
    color: #FFF;
    padding: 0 1rem;
}

input[name="input"] {
    background-image: url(../images/customize/transparent_box.png);
}

input[name="button"] {
    background-image: url(../images/customize/button.png);
    color: #008f89;
}