/* GENERAL */

@font-face {
  font-family: 'Bauhaus 93'; /*a name to be used later*/
  src: url('/joachimdanielsen.dk/fonts/BAUHS93.ttf'); /*URL to font*/
}

* {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bauhaus 93", sans-serif;
  font-weight: normal;
  padding-bottom: 2rem;
  letter-spacing: 0.3rem;
}

h1 {
 display: none;
}

h2 {
  font-size: 1.3rem;
}

h3 {
    font-size: 0.9rem;
}

p {
  font-size: 0.7rem;
  text-transform: none;
  padding-bottom: 0.8rem;
}

li {
  font-family: "Roboto", sans-serif;
  list-style-type: none;
  padding-bottom: 3rem;
}

a {
    text-decoration: none;
    color: #008f89;
    font-size: 0.9rem;
    font-weight: bold;
}

body {
  display: block;
  text-align: center;
  margin: 0 auto;
  background-color: #008f89;
  color: white;
}

/* HEADER */

header {
  margin: 1rem 1rem 1rem 1rem;
}

img#logo {
    width: 7rem;
}

/* balance */

#balance h2 {
  display: none;
}

#balance ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0;
}

#balance li {
  display: flex;
  align-items: center;
  font-size: 0.7rem;
  font-weight: bold;
}

img#coins,
img#level {
  padding-right: 0.5rem;
}

#coins {
  width: 2.5rem;
}

#level {
  width: 1.5rem;
}

/* MAIN */

main {
  margin: 0 10% 0 10%;
}

/* user */

#user h2 {
  margin-top: 2rem;
}

div.description {
  display: inline-block;
  text-align: left;
  background-color: #7dc6c3;
  border-radius: 2.5rem;
}

article#user div.description {
  padding: 1rem 2.5rem 1rem 2.5rem;
}

article#user div.description p {
  padding-left: 1rem;
}


#username {
    font-size: 1.2rem;
}

.description p, #stats li {
    font-size: 0.8rem;
    letter-spacing: normal;
    font-weight: normal;
    font-style: normal;
    padding: 0.5rem;
}

.description p span, #stats li span {
    font-weight: bold;
    font-style: normal;
}

.btn-container {
  margin-top: 2rem;
    display: flex;
    padding: 0;
    justify-content: space-evenly;
}

.btn-item {
    display: flex;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    align-items: center;
    background-image: url(../images/box.png);
    background-repeat: no-repeat;
    background-size: contain;
}

#user img {
  width: 15rem;
  padding: 0.5rem 0 2rem 0;
}

/* badges */

#badges h2 {
  margin-top: 2rem;
}

#badges {
    padding: 3.5rem 0 0 0;
}

#badges ul, #stats ul {
  display: flex;
  padding: 0;
  justify-content: space-evenly;
}

#badges ul {
    flex-wrap: nowrap;
}

#badges img {
    width: 2.5rem;
}

/* statistics */

#stats h2 {
  margin-top: 2rem;
}

#stats {
    padding: 0;
}

#stats ul {
    display: block;
}

#stats img {
    display: block;
    margin: auto;
    width: 5rem;
    padding: 1rem 0 1rem 0;
}

#stats li {
    display: block;
}

#stats li span {
        font-size: 0.7rem;
        font-weight: 900;
        font-style: normal;
        text-transform: none;
}

/* progress */

#progress {
    padding: 5.5rem 0 5.5rem 0;
}

#progress img {
    width: 15rem;
    border-radius: 1rem;
    margin-top: 2rem;
    /* padding-top: 2rem; */
}

article#progress div.description {
  padding: 1rem;
  margin: 1rem 2.5rem 0 2.5rem;
}

article#progress p {
  text-align: center;
  padding: 0.5rem;
}

/* FOOTER */

footer {
    margin: 0 auto;
}

footer img {
    width: 6rem;
    padding-bottom: 2rem;
}